:root {
  box-sizing: border-box;
  font-size: 62.5%;
  }
  *,
  ::before,
  ::after {
  box-sizing: inherit;
  }
body {
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  
}
